
.GWTCipher_panel {
	margin: 50px 50px 50px 50px;
}

.GWTCipher_passwordPanel {
	margin: 0px 0px 10px 0px;
}

.GWTCipher_buttonPanel {
	margin: 10px 0px 10px 0px;
}

.GWTCipher_button {
	margin: 0px 5px 0px 0px;
}
